[submodule "ng-crawler"]
	path = ng-crawler
	url = https://github.com/Hana-Dul-Set/ng-crawler.git
[submodule "ins-crawler"]
	path = ins-crawler
	url = https://github.com/Hana-Dul-Set/ins-crawler
[submodule "flickr-crawler"]
	path = flickr-crawler
	url = https://github.com/Hana-Dul-Set/flickr-crawler.git
